{%include "base.html"%}

<div id="title" align="center">
</div>
<br>
    {% include "cric_filters.html" %}
{%if is_select_away_team%}

{%include "cric_each_match.html"%}

{%endif%}
                  <br>

    {%if is_select_season%}
        <br>

      {%for match_details in seasons_matches_data%}
<div class="container" align="center">
<div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
      <a data-toggle="collapse" href="#{{match_details.2}}">{{match_details.0.6}} VS {{match_details.0.7}} ({{match_details.0.8}})</a><br>
          </h4>
      </div>
              <div id="{{match_details.2}}" class="collapse">
<h3 align="center">Innings data</h3>


<table border ="1" align="center">
<tr>
<td colspan="4" align="center">     <h3>Match {{match_details.0.2}}   {{match_details.0.3}} </h3>
    </td>
    </tr>
<tr>
    <th width="50%"> {{match_details.0.6}}</th>
    <th width="50%"> {{match_details.0.7}}</th>
</tr>
<tr>
    <th width="30%">Team Gender: {{match_details.0.1}}</th>
    <th width="30%">Match Winner: {{match_details.0.0}}</th>
</tr>
<tr>
    <th width="10%">     Season :{{season_name}} </th>
    <th width="10%">Match Kickoff: {{match_details.0.8}} </th>
</tr>
</table>
            <br>
            {%for feed_data in match_details.1%}
<br>



<table border="2" align="center">
    <thead>
    <tr>
        <th align="center" colspan="5">Innings Details</th>
    </tr>
    <tr>
     <th align="center;">Over Number</th>
        <th align="center;">Bowler</th>
        <th align="center;">Batter</th>
        <th align="center;">Non Striker</th>
        <th align="center;">Total runs</th>
        <th align="center;">extras</th>
               </tr>
    </thead>


    {%for value in feed_data.get('overs')%}

<tr>
    <th style="visibility:hidden;"></th>
</tr>
<tr>
        <td style="color:white;" bgcolor="gray">
            {{value.get('over')}}
        </td>
        </tr>
    {%for over_data in value.get('deliveries')%}

<tr>
    <td style="visibility:hidden">
    </td>
    <td>
        {{over_data.get('bowler')}}
    </td>
    <td>
        {{over_data.get('batter')}}
    </td>
    <td>{{over_data.get('non_striker')}}</td>
    <td>{{over_data.get('runs').get('total')}}</td>
    {%if over_data.get('extras')%}
    {%for key,value in over_data.get('extras').items()%}
    <td>
        {{key}}: {{value}}
    </td>
            {%endfor%}
    {%endif%}
    {%if over_data.get('wickets') %}
<td>
Wicket: {{over_data.get('wickets').0.get('player_out')}}({{over_data.get('wickets').0.get('kind')}})
</td>
{%endif%}
</tr>
{%endfor%}
<tr>
        <td style="visibility:collapse;"> </td>
        <td style="visibility:collapse;"> </td>
     <td colspan="2" align="right" style="color:white;" bgcolor="gray">
            Total Over Runs
        </td>
    <td>
        {{value.get('over_score')}}
    </td>
    </tr>
{%endfor%}
    <tr>
    <td colspan="4" align="right" bgcolor="#b2beb5">
        Innings_score
    </td>
    <td>
        {{feed_data.get('innings_total_run')}}
    </td>
    </tr>
           </table>
            <br>
            {%endfor%}
            </div>
    <br>
          </div>
        </div>
        </div>

    {%endfor%}

        {%endif%}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
